{{!< default}}

{{#post}}
<div class="material__posts mdl-grid">
  {{! back button }}
  <div class="post-back">
    <a href="/" class="material-nav__button">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">arrow_back</i>
        <span class="mdl-button__ripple-container">
          <span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(14px, 19px);"></span>
        </span>
      </button>
    </a>
  </div>

  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50" style="background: rgb(255,82,82) url('{{image absolute="true"}}') center / cover">
      <h3>{{title}}</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div class="minilogo">
        {{#if author.image}}
          <img src="{{author.image}}" alt="Author avatar" class="post_avatar" />
        {{else}}
          <img src="{{asset "img/avatar.png"}}" class="post_avatar" />
        {{/if}}
      </div>
      <div>
        <strong>{{author.name}}</strong>
        <span>
          <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMMM YYYY"}}</time>
        </span>
      </div>
      <div class="section-spacer"></div>
      <button id="share-btn-post-{{title}}" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">share</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share-btn-post-{{title}}" style="z-index: 9999">
        <li class="mdl-menu__item"><a href="https://twitter.com/intent/tweet?text={{title}} {{url absolute="true"}}">Share on Twitter</a></li>
        <li class="mdl-menu__item"><a href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}">Share on Facebook</a></li>
        <li class="mdl-menu__item"><a href="mailto:?subject={{title}}">Email link</a></li>
      </ul>
    </div>

    {{! post content }}
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      {{content}}
    </div>

    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
      <form>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea rows=1 class="mdl-textfield__input" id="comment"></textarea>
          <label for="comment" class="mdl-textfield__label">Join the discussion</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
        </button>
      </form>
      <div class="comment mdl-color-text--grey-700">
        <header class="comment__header">
          <img src="images/co1.jpg" class="comment__avatar">
          <div class="comment__author">
            <strong>James Splayd</strong>
            <span>2 days ago</span>
          </div>
        </header>
        <div class="comment__text">
          In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
        </div>
        <nav class="comment__actions">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
          </button>
        </nav>
        <div class="comment__answers">
          <div class="comment">
            <header class="comment__header">
              <img src="images/co2.jpg" class="comment__avatar">
              <div class="comment__author">
                <strong>John Dufry</strong>
                <span>2 days ago</span>
              </div>
            </header>
            <div class="comment__text">
              Yep, agree!
            </div>
            <nav class="comment__actions">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
              </button>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
              </button>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
              </button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/post}}

{{> "footer"}}
